@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

@media (max-width: 1300px) {
    .container {
        width: 980px;
    }
}

@media (max-width: 980px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 10px;
    }
}